@model GenAITech.Models.GenAI

@{
    ViewData["Title"] = "Delete Page";
}
<div class="parallax-container Add-new-Ai">
    <h1 class="main-heading">Delete GenAI WebSite</h1>
    <div class="container">
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GenAIName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GenAIName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Summary)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Summary)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ImageFilename)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ImageFilename)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AnchorLink)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AnchorLink)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Like)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Like)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Dislike)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Dislike)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
</div>
